.table-container {
  padding: 1rem;
}

table {
  border-collapse: collapse;
}

tbody .airport-row:nth-of-type(odd) {
  background-color: #f4f4f4;
}

thead {
  padding: 1rem;
}

thead th {
  background-color: #e7e7e7;
  font-weight: 800;
  text-align: left;
}

thead th:first-child {
  border-top-left-radius: 3px;
  width: 20rem;
}

thead th:last-child {
  border-top-right-radius: 3px;
}

tbody td:last-child {
  text-transform: capitalize;
}

thead th,
.airport-row td {
  padding: 1rem;
  font-size: 80%;
}

tfoot {
  position: sticky;
  bottom: 0;
  z-index: 2;
  background-color: white;
  height: 2.5rem;
  width: 100%;
  align-items: center;
}

#loader-row > td {
  height: 10rem;
}

.loader {
  height: 2rem;
  width: 2rem;
  border: 2px solid #000;
  border-radius: 50%;
  border-right-color: transparent;
  animation: loading-spinner 1s linear infinite;
  margin: auto;
}

@keyframes loading-spinner {
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1023px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead {
    padding: 0;
  }

  .table-container {
    padding: 1rem 0 0 0;
  }

  thead th:first-child {
    width: auto;
  }

  thead tr {
    display: none;
  }

  #loader-row > td {
    display: flex;
  }

  .airport-row td {
    position: relative;
    top: 1px;
    padding: 0 0 0 30%;
    font-size: 80%;
    font-weight: 400;
    line-height: 2;
  }

  tbody {
    padding-top: 1rem;
  }

  tbody tr {
    padding: 0.5rem;
    border-radius: 3px;
  }

  .airport-row td::before {
    position: absolute;
    width: 30%;
    white-space: nowrap;
    font-weight: 700;
    top: 0;
    left: 6px;
  }

  .airport-row td:nth-of-type(1)::before {
    content: "Name";
  }
  .airport-row td:nth-of-type(2)::before {
    content: "ICAO";
  }
  .airport-row td:nth-of-type(3)::before {
    content: "IATA";
  }
  .airport-row td:nth-of-type(4)::before {
    content: "Elev.";
  }
  .airport-row td:nth-of-type(5)::before {
    content: "Lat.";
  }
  .airport-row td:nth-of-type(6)::before {
    content: "Long.";
  }
  .airport-row td:nth-of-type(7)::before {
    content: "Type";
  }

  tfoot {
    display: flex;
  }
}
